.panel {
  padding: 0.5em 1em;
  border: 0.125em solid #bfccd9;
  border-radius: 0.375em;
  background-color: #fff;
  color: #8099b3; }

.panel-react {
  transition: all 0.125s;
  cursor: pointer;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .panel-react:hover, .panel-react:focus, .panel-react:active {
    border-color: #9fb3c6;
    background-color: #dfe6ec;
    color: #60809f;
    z-index: 2; }
  .panel-react:active {
    border-color: #8099b3;
    background-color: #bfccd9;
    color: #40668c; }

.panel-react-border:hover, .panel-react-border:focus, .panel-react-border:active {
  background-color: #fff; }

.flex {
  display: flex; }
  .flex > .flex, .flex > .panel {
    flex: 1; }
  .flex-vertical {
    flex-direction: column; }

.flex-space-horizontal > .panel + .panel {
  margin: 0 0 0 0.5em; }

.flex-space-vertical > .panel + .panel {
  margin: 0.5em 0 0 0; }

.flex-group > .panel {
  border-radius: 0; }

.flex-group-horizontal > .panel + .panel {
  margin: 0 0 0 -0.125em; }

.flex-group-horizontal > .panel:first-child {
  border-radius: 0.375em 0 0 0.375em; }

.flex-group-horizontal > .panel:last-child {
  border-radius: 0 0.375em 0.375em 0; }

.flex-group-vertical > .panel + .panel {
  margin: -0.125em 0 0 0; }

.flex-group-vertical > .panel:first-child {
  border-radius: 0.375em 0.375em 0 0; }

.flex-group-vertical > .panel:last-child {
  border-radius: 0 0 0.375em 0.375em; }

.flex-group > .panel:only-child {
  border-radius: 0.375em; }

.flex-group-merge > .panel {
  margin: 0 !important; }

.flex-group-merge-horizontal > .panel {
  border-width: 0.125em 0; }
  .flex-group-merge-horizontal > .panel:first-child {
    border-width: 0.125em 0 0.125em 0.125em; }
  .flex-group-merge-horizontal > .panel:last-child {
    border-width: 0.125em 0.125em 0.125em 0; }

.flex-group-merge-vertical > .panel {
  border-width: 0 0.125em; }
  .flex-group-merge-vertical > .panel:first-child {
    border-width: 0.125em 0.125em 0 0.125em; }
  .flex-group-merge-vertical > .panel:last-child {
    border-width: 0 0.125em 0.125em 0.125em; }

.flex-group-merge > .panel:only-child {
  border-width: 0.125em; }

.flex-group-horizontal > .flex-group + .flex-group {
  margin: 0 0 0 -0.125em; }

.flex-group-horizontal > .flex-group > .panel {
  border-radius: 0; }

.flex-group-horizontal > .flex-group-horizontal:first-child > .panel:first-child {
  border-radius: 0.375em 0 0 0.375em; }

.flex-group-horizontal > .flex-group-horizontal:last-child > .panel:last-child {
  border-radius: 0 0.375em 0.375em 0; }

.flex-group-horizontal > .flex-group-horizontal:only-child > .panel:only-child {
  border-radius: 0.375em; }

.flex-group-horizontal > .flex-group-vertical:first-child > .panel:first-child {
  border-radius: 0.375em 0 0 0; }

.flex-group-horizontal > .flex-group-vertical:first-child > .panel:last-child {
  border-radius: 0 0 0 0.375em; }

.flex-group-horizontal > .flex-group-vertical:first-child > .panel:only-child {
  border-radius: 0.375em 0 0 0.375em; }

.flex-group-horizontal > .flex-group-vertical:last-child > .panel:first-child {
  border-radius: 0 0.375em 0 0; }

.flex-group-horizontal > .flex-group-vertical:last-child > .panel:last-child {
  border-radius: 0 0 0.375em 0; }

.flex-group-horizontal > .flex-group-vertical:last-child > .panel:only-child {
  border-radius: 0 0.375em 0.375em 0; }

.flex-group-horizontal > .flex-group-vertical:only-child > .panel:first-child {
  border-radius: 0.375em 0.375em 0 0; }

.flex-group-horizontal > .flex-group-vertical:only-child > .panel:last-child {
  border-radius: 0 0 0.375em 0.375em; }

.flex-group-horizontal > .flex-group-vertical:only-child > .panel:only-child {
  border-radius: 0.375em; }

.flex-group-vertical > .flex-group + .flex-group {
  margin: -0.125em 0 0 0; }

.flex-group-vertical > .flex-group > .panel {
  border-radius: 0; }

.flex-group-vertical > .flex-group-vertical:first-child > .panel:first-child {
  border-radius: 0.375em 0.375em 0 0; }

.flex-group-vertical > .flex-group-vertical:last-child > .panel:last-child {
  border-radius: 0 0 0.375em 0.375em; }

.flex-group-vertical > .flex-group-vertical:only-child > .panel:only-child {
  border-radius: 0.375em; }

.flex-group-vertical > .flex-group-horizontal:first-child > .panel:first-child {
  border-radius: 0.375em 0 0 0; }

.flex-group-vertical > .flex-group-horizontal:first-child > .panel:last-child {
  border-radius: 0 0.375em 0 0; }

.flex-group-vertical > .flex-group-horizontal:first-child > .panel:only-child {
  border-radius: 0.375em 0.375em 0 0; }

.flex-group-vertical > .flex-group-horizontal:last-child > .panel:first-child {
  border-radius: 0 0 0 0.375em; }

.flex-group-vertical > .flex-group-horizontal:last-child > .panel:last-child {
  border-radius: 0 0 0.375em 0; }

.flex-group-vertical > .flex-group-horizontal:last-child > .panel:only-child {
  border-radius: 0 0 0.375em 0.375em; }

.flex-group-vertical > .flex-group-horizontal:only-child > .panel:first-child {
  border-radius: 0.375em 0 0 0.375em; }

.flex-group-vertical > .flex-group-horizontal:only-child > .panel:last-child {
  border-radius: 0 0.375em 0.375em 0; }

.flex-group-vertical > .flex-group-horizontal:only-child > .panel:only-child {
  border-radius: 0.375em; }

.flex-group-merge-horizontal > .flex-group-merge > .panel {
  border-width: 0; }

.flex-group-merge-horizontal > .flex-group-merge-horizontal > .panel {
  border-width: 0.125em 0; }

.flex-group-merge-horizontal > .flex-group-merge-horizontal:first-child > .panel:first-child {
  border-width: 0.125em 0 0.125em 0.125em; }

.flex-group-merge-horizontal > .flex-group-merge-horizontal:last-child > .panel:last-child {
  border-width: 0.125em 0.125em 0.125em 0; }

.flex-group-merge-horizontal > .flex-group-merge-horizontal:only-child > .panel:only-child {
  border-width: 0.125em; }

.flex-group-merge-horizontal > .flex-group-merge-vertical > .panel:first-child {
  border-top-width: 0.125em; }

.flex-group-merge-horizontal > .flex-group-merge-vertical > .panel:last-child {
  border-bottom-width: 0.125em; }

.flex-group-merge-horizontal > .flex-group-merge-vertical:first-child > .panel {
  border-left-width: 0.125em; }

.flex-group-merge-horizontal > .flex-group-merge-vertical:last-child > .panel {
  border-right-width: 0.125em; }

.flex-group-merge-vertical > .flex-group-merge > .panel {
  border-width: 0; }

.flex-group-merge-vertical > .flex-group-merge-vertical > .panel {
  border-width: 0 0.125em; }

.flex-group-merge-vertical > .flex-group-merge-vertical:first-child > .panel:first-child {
  border-width: 0.125em 0.125em 0 0.125em; }

.flex-group-merge-vertical > .flex-group-merge-vertical:last-child > .panel:last-child {
  border-width: 0 0.125em 0.125em 0.125em; }

.flex-group-merge-vertical > .flex-group-merge-vertical:only-child > .panel:only-child {
  border-width: 0.125em; }

.flex-group-merge-vertical > .flex-group-merge-horizontal > .panel:first-child {
  border-left-width: 0.125em; }

.flex-group-merge-vertical > .flex-group-merge-horizontal > .panel:last-child {
  border-right-width: 0.125em; }

.flex-group-merge-vertical > .flex-group-merge-horizontal:first-child > .panel {
  border-top-width: 0.125em; }

.flex-group-merge-vertical > .flex-group-merge-horizontal:last-child > .panel {
  border-bottom-width: 0.125em; }

body {
  background-color: #dfe6ec;
  color: #8099b3; }

.parent {
  display: flex; }
  .parent .child {
    flex: 1; }
    .parent .child + .child {
      margin: 0 0 0 1em; }
  .parent + .parent {
    margin: 1em 0 0 0; }

.panel {
  min-height: 1.125em; }
