// Color
$color: $color-ui-4 !default;
$color-hover: $color-ui-5 !default;
$color-click: $color-ui-6 !default;

// Background color
$background-color: $color-ui-background !default;
$background-color-hover: $color-ui-1 !default;
$background-color-click: $color-ui-2 !default;

// Border color
$border-color: $color-ui-2 !default;
$border-color-hover: $color-ui-3 !default;
$border-color-click: $color-ui-4 !default;

// Margin
$margin-width: 8 !default;
$margin-height: 8 !default;

// Padding
$padding-width: 16 !default;
$padding-height: 8 !default;

// Border
$border-radius: 6 !default;
$border-width: 2 !default;

// Transition
$transition-duration: 0.25s !default;
