mixin flex-horizontal
  .flex.flex-horizontal
    block

mixin flex-vertical
  .flex.flex-vertical
    block

mixin flex-space-horizontal
  .flex.flex-horizontal.flex-space.flex-space-horizontal
    block

mixin flex-space-vertical
  .flex.flex-vertical.flex-space.flex-space-vertical
    block

mixin flex-group-horizontal
  .flex.flex-horizontal.flex-group.flex-group-horizontal
    block

mixin flex-group-vertical
  .flex.flex-vertical.flex-group.flex-group-vertical
    block

mixin flex-group-merge-horizontal
  .flex.flex-horizontal.flex-group.flex-group-horizontal.flex-group-merge.flex-group-merge-horizontal
    block

mixin flex-group-merge-vertical
  .flex.flex-vertical.flex-group.flex-group-vertical.flex-group-merge.flex-group-merge-vertical
    block
