.panel-react {
  transition: all $transition-duration;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:hover, &:focus {
    border-color: $border-color-hover;
    background-color: $background-color-hover;
    color: $color-hover;
  }
  &:active {
    border-color: $border-color-click;
    background-color: $background-color-click;
    color: $color-click;
  }
}
