.flex-group-merge-vertical {
  > .flex-group-merge {
    > .panel {
      border-width: 0;
    }
  }

  > .flex-group-merge-vertical {
    > .panel {
      border-width: em(0 $border-width 0 $border-width);
    }
    &:first-child > .panel:first-child {
      border-width: em($border-width $border-width 0 $border-width);
    }
    &:last-child > .panel:last-child {
      border-width: em(0 $border-width $border-width $border-width);
    }
    &:only-child > .panel:only-child {
      border-width: em($border-width);
    }
  }

  > .flex-group-merge-horizontal {
    > .panel {
      &:first-child {
        border-left-width: em($border-width);
      }
      &:last-child {
        border-right-width: em($border-width);
      }
    }
    &:first-child > .panel {
      border-top-width: em($border-width);
    }
    &:last-child > .panel {
      border-bottom-width: em($border-width);
    }
  }
}
