.parent
  .child
    +flex-group-vertical
      +flex-group-merge-horizontal
        +panel-react
        +panel-react
        +panel-react
      +flex-group-merge-horizontal
        +panel-react
        +panel-react
        +panel-react
      +flex-group-merge-horizontal
        +panel-react
        +panel-react
        +panel-react

.parent
  .child
    +flex-group-vertical
      +flex-group-merge-horizontal
        +panel-react
      +flex-group-merge-horizontal
        +panel-react
      +flex-group-merge-horizontal
        +panel-react

  .child
    +flex-group-vertical
      +flex-group-merge-horizontal
        +panel-react
        +panel-react
        +panel-react

  .child
    +flex-group-vertical
      +flex-group-merge-horizontal
        +panel-react
