.parent
  .child
    +flex-group-horizontal
      +flex-group-merge-vertical
        +panel-react
        +panel-react
        +panel-react
      +flex-group-merge-vertical
        +panel-react
        +panel-react
        +panel-react
      +flex-group-merge-vertical
        +panel-react
        +panel-react
        +panel-react

.parent
  .child
    +flex-group-horizontal
      +flex-group-merge-vertical
        +panel-react
      +flex-group-merge-vertical
        +panel-react
      +flex-group-merge-vertical
        +panel-react

  .child
    +flex-group-horizontal
      +flex-group-merge-vertical
        +panel-react
        +panel-react
        +panel-react

  .child
    +flex-group-horizontal
      +flex-group-merge-vertical
        +panel-react
