.parent
  .child
    +flex-horizontal
      +panel-react
      +panel-react
      +panel-react

  .child
    +flex-horizontal
      +panel-react

  .child
    +flex-vertical
      +panel-react
      +panel-react
      +panel-react

  .child
    +flex-vertical
      +panel-react

.parent
  .child
    +flex-space-horizontal
      +panel-react
      +panel-react
      +panel-react

  .child
    +flex-space-horizontal
      +panel-react

  .child
    +flex-space-vertical
      +panel-react
      +panel-react
      +panel-react

  .child
    +flex-space-vertical
      +panel-react

.parent
  .child
    +flex-group-horizontal
      +panel-react
      +panel-react
      +panel-react

  .child
    +flex-group-horizontal
      +panel-react

  .child
    +flex-group-vertical
      +panel-react
      +panel-react
      +panel-react

  .child
    +flex-group-vertical
      +panel-react

.parent
  .child
    +flex-group-merge-horizontal
      +panel-react
      +panel-react
      +panel-react

  .child
    +flex-group-merge-horizontal
      +panel-react

  .child
    +flex-group-merge-vertical
      +panel-react
      +panel-react
      +panel-react

  .child
    +flex-group-merge-vertical
      +panel-react
